/* .menu {
  display: flex;
} */

input[type="checkbox"] {
  display: none;
}


@media (max-width: 920px) {

  .menu .menu-item {
    width: 100%;
    margin: 1.25rem 0;
  }

  .menu .menu-link {
    font-size: 1.775rem;
    font-weight: 500;
  }

}







