.education-title {
    margin-bottom: 2rem;
    font-family: 'Pacifico', cursive;
    font-weight: 500;
    font-size: 5.775rem;
    letter-spacing: 0.125rem;
    color: var(--education-tittle-color);
}

@media screen and (max-width: 450px) {

    .education-title {
        margin-top: 2.5rem;
        font-size: 5rem;
        letter-spacing: 0;
    }
    
}